@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

@keyframes pulsar {
    0% {
        width: 200px;
        height: 35px;
    }

    50% {
        width: 205px;
        height: 37px;
    }

    100% {
        width: 210px;
        height: 40px;
    }
}

@keyframes diminuir {
    0% {
        width: 1500px;
        height: 800px;
    }

    100% {
        width: 1000px;
        height: 600px;
    }
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px -2px 5px rgba(255, 255, 255, 0.137);
}

body {
    background-image: url(../imagem/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: end;
}

#conteiner-saldo {
    display: flex;
    background-color: #305715;
    margin: 10px 10px 0px 0px;
    border-radius: 20px;
    border: 2px solid black;
    width: 90px;
}

#conteiner-saldo > img {
    height: 40px;
    margin: -10px;
    padding: 2px;
}

#conteiner-saldo > p {
    padding: 2px;
}

#conteiner-casanik {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:60px;
}

#container {
    width: 800px;
    height: 400px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between; /*mudar depois que tiiver imagem*/
    border-radius: 20px;
    border: 20px solid #1F7B00;
}

.casanik {
    color: white;
    margin: auto;
    font-size: 40px;
}

#um {
    margin-left: 100px;
}

#tres {
    margin-right: 100px;
}

#botao {
    width: 250px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 350%);
    border: none;
    background-image: url(../imagem/background-lucky.jpg);
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
}

#botao:hover {
    box-shadow: 2px 2px 50px rgba(19, 131, 68, 0.856);
    transition: 0.5s ease-in-out;
}

#res {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-46%, 900%);
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.escondido {
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: #323B24;
    border-radius: 30px;
    color: #b19d08;

    animation: diminuir 1.5s linear 1;

    h2 {
        text-align: center;
        font-size: 4em;
        margin: 30px;
    }

    .container-escondido {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column wrap;
        gap: 10px;
        font-size: 24px;
        height: 400px;

        #adicionar {
            font-size: 1.9em;
            margin-bottom: 20px;
        }

        #add-saldo {
            width: 200px;
            height: 35px;
            font-size: 19px;
            border: none;
            border-radius: 10px;
            background-color: white;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.726);

            animation: pulsar 2s linear infinite;
        }

        #add-btn {
            width: 180px;
            height: 50px;
            margin-top: 40px;
            border: none;
            border-radius: 50px;
            background-color: #A1C635;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.897);
            cursor: pointer;

            &:hover {
                width: 190px;
                height: 55px;
            }
        }
    }
}

.tabela-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 400px;
    height: 334px;
    background-color: #365f19;
    border-radius: 20px 20px 0px 0px;
    margin-left:20px;
}

.tabela {
    align-self: auto;
}

.title-table {
    text-align: center;
    font-size: 3em;
}

.points {
    font-size: 28px;
}
