@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px -2px 5px rgba(255, 255, 255, 0.137);
}

body {
    background-image: url(../imagem/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: end;
}

#conteiner-saldo {
    display: flex;
    background-color: #305715;
    margin: 10px 10px 0px 0px;
    border-radius: 20px;
    border: 2px solid black;
    width: 90px;
}

#conteiner-saldo > img {
    height: 40px;
    margin: -10px;
    padding: 2px;
}

#conteiner-saldo > p {
    padding: 2px;
}

#conteiner-casanik {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:60px;
}

#container {
    width: 800px;
    height: 400px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between; /*mudar depois que tiiver imagem*/
    border-radius: 20px;
    border: 20px solid #1F7B00;
}

.casanik {
    color: white;
    margin: auto;
    font-size: 40px;
}

#um {
    margin-left: 100px;
}

#tres {
    margin-right: 100px;
}

#botao {
    width: 250px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 350%);
    border: none;
    background-image: url(../imagem/background-lucky.jpg);
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
}

#botao:hover {
    box-shadow: 2px 2px 50px rgba(19, 131, 68, 0.856);
    transition: 0.5s ease-in-out;
}

#res {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-46%, 900%);
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}