@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 30px;
}

#container {
    width: 800px;
    height: 400px;
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: space-between; /*mudar depois que tiiver imagem*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 20px solid rgb(216, 144, 36);
}

.casanik {
    color: white;
}

#um {
    margin-left: 100px;
}

#tres {
    margin-right: 100px;
}