@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 30px;
}

#container {
    width: 800px;
    height: 400px;
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: space-between; /*mudar depois que tiiver imagem*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 20px solid #1F7B00;
}

.casanik {
    color: white;
    margin: auto;
    font-size: 40px;
}

#um {
    margin-left: 100px;
}

#tres {
    margin-right: 100px;
}

#botao {
    width: 250px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 500%);
    border: none;
    background-image: url(../imagem/background-lucky.jpg);
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
}

#botao:hover {
    box-shadow: 2px 2px 50px rgba(19, 131, 68, 0.856);
    transition: 0.5s ease-in-out;
}

#res {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-46%, 1200%);
    font-size: 22px;
}